@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: hsl(14, 90%, 53%);
  --color-primary-light: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --grayText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  /* tipo de letra */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.Home {
  background: black;
  position: relative;
  height: 95vh;
  width: 100%;
  top: 0;

  .videoBg {
    position: absolute;
    height: 100%;
    width: 100%;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .sectionText {
    position: absolute;
    height: 100%;
    top: 30%;
    bottom: 50%;
    padding: 0 1.3rem;
    width: 100%;
    color: var(--whiteColor);
    align-items: start;

    h1 {
      font-size: var(--biggestFontSize);
      font-weight: 900;
      margin-bottom: 1rem;
    }
    p {
      padding: 1rem 0;
      font-size: var(--h2FontSize);
      font-weight: 500;
    }
    .btn {
      gap: 0.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      display: flex;
    }
  }

  .polularPlaces {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .Home {
    .sectionText {
      padding: 0 2rem;
      justify-content: center;
      text-align: center;
      width: 100%;

      h1 {
        font-size: var(--biggestFontSize);
        font-weight: 900;
      }
      p {
        padding: 1rem 0;
        font-size: var(--h2FontSize);
        max-width: 70%;
        margin: auto;
      }
      .btn {
        font-size: var(--h3FontSize);
        margin: auto;
      }
    }
  }
}
@media screen and (min-width: 769px) {
  .Home {
    .sectionText {
      width: 100%;
      text-align: center;

      h1 {
        font-size: 4rem;
        max-width: 70%;
        margin: auto;
        font-weight: 900;
      }
      p {
        padding: 1rem 0;
        font-size: var(--h2FontSize);
        max-width: 70%;
        margin: auto;
        display: block;
      }
      .btn {
        gap: 0.5rem;
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: var(--h3FontSize);
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: 1040px) {
  .Home {
    position: relative;
    .sectionText {
      h1 {
        font-size: 4.5rem;
      }
      p {
        
        font-size: var(--h1FontSize);
       
      }
    }
    .polularPlaces {
      display: block;
      position: absolute;
      bottom: 10%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h3 {
      color: var(--whiteColor);
      padding: 1rem 0;
      position: relative;
      font-size: var(--h2FontSize);
      &::after {
        content: "";
        width: 83%;
        height: 3px;
        background: rgb(202, 202, 202);
        right: 0;
        bottom: 10%;
        position: absolute;
      }
    }
    .images {
      align-items: center;
      justify-content: center;
      gap: 2rem;

      img {
        height: 150px;
        width: 270px;
        object-fit: cover;
        border-image-repeat: 10px;
      }
    }
  }
}
